<%= stylesheet_link_tag 'style.css' %>

<body>	
	<h1><%= @pokemon.name.capitalize %></h1>

	<img src=<%= @pokemon.image%> alt="No image available", class="pokemon-image">

	<h2 class="types-header">Types</h2>
	<ul>
		<% @pokemon.pokemon_types.each do |type| %>
			<li class="types-list">
				<%= type.name.capitalize %>
			</li>
		<% end %>
	</ul>

	<button class="home-button" onclick="window.location.href='/';">HOME</button>
</body>