<h1><%= @pokemon.name.capitalize %></h1>

<img src=<%= @pokemon.image%> alt="No image available">

<h2>Type</h2>
<ul>
	<% @pokemon.pokemon_types.each do |type| %>
		<li>
			<%= type.name.capitalize %>
		</li>
	<% end %>
</ul>

<%= link_to "Home", root_path %>