@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

h1 {
    color: red;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
}

body{
    background-color: #f5f5f5;
    padding: 5px 15px 15px 10px;
}

.pokemons-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    width: 210px;
    height: 300px;
    overflow: hidden; 
    transition: all 0.3s ease;
    font-family: 'Pokemon Solid', sans-serif;
    text-decoration: none;
    color: #000;
}

.pokemon-image-container{
    width: 95%;
    height: 95%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.pokemon-list-item{
    list-style: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.hunt-button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Pokemon Solid', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pokemon-image{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.types-header{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Pokemon Solid', sans-serif;
    margin: 10px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.types-list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.home-button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Pokemon Solid', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2-hunt{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.catch-button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Pokemon Solid', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.catch-button:enabled:hover{
    background-color: #000;
    color: #fff;
}

.home-button:hover{
    background-color: red;
    color: #fff;
    border: red;
}

.hunt-button:hover{
    background-color: #000;
    color: #fff;
}

.berries-button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pokemon Solid', sans-serif;
  margin-right: auto;
  margin-left: 50px;
  text-decoration: none;
  color: #000;
  display: block;
}

.berries-button:hover {
  background-color: #ff9100;
  color: #fff;
  border: none;
}

.berries-lottery-button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pokemon Solid', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.berries-lottery-button:hover {
  background-color: #ff9100;
  color: #fff;
  border: none;
}

.logout-button{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pokemon Solid', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: 50px;
}

.logout-button:hover{
  background-color: red;
  color: #fff;
  border: none;
}

.login-button{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pokemon Solid', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  font-size: 20px;
}

.sign-up-button{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pokemon Solid', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  width: 50%;
  font-size: 20px;
}

.form-control{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.form-label{
  font-size: 20px;
  font-family: 'Pokemon Solid', sans-serif;
}

.btn-forms{
  font-size: 20px;
  font-family: 'Pokemon Solid', sans-serif;
}

.password-reset{
  font-size: 15px;
  font-family: 'Pokemon Solid', sans-serif;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.back-home{
  font-size: 15px;
  font-family: 'Pokemon Solid', sans-serif;
  display: block;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
}
